@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

body {
    background-color: #c9d7f8;
    margin:0;
}

.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}

#header-title {
    background-color: #25283d;
    color: #c9d7f8;
    text-align: center;
    font-size: 60;
    padding-top: 20;
    padding-bottom: 1;
    font-family: 'Bonheur Royale';
}

hr {
    margin-left: 20;
    margin-right: 20;
    margin-top: 10;
    margin-bottom: 0;
    border: 1;
    padding: 0;
}


a{
    text-decoration: none;
    color:#c9d7f8
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: #25283d
}

.navitem {
    color: #c9d7f8;
    display: inline-block;
    font-size: 30;
    padding-top: 20;
    padding-bottom: 10;
    padding-left: 10;
    padding-right: 10;
    margin-left: 10;
    border: 0;
}

.navitem:hover {
    background-color: #454B73;
}