@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
    background-color: #c9d7f8;
    margin:0;
}

img {
    width: 100%;
    mask-image: radial-gradient(circle, black 60%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
}

.img-container {
    position: relative;
    text-align: center;
    
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.img-text {
    position: absolute;
    top: 70;
    left: 50;
    color: #454B73;
    font-family: 'Merriweather';
    font-size: 30;
}

.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}


#header-title {
    background-color: #25283d;
    color: #c9d7f8;
    text-align: center;
    font-size: 60;
    padding-top: 20;
    padding-bottom: 1;
    font-family: 'Bonheur Royale';
}

hr {
    width: 80%;
    margin-top: 10;
    margin-bottom: 0;
    border: 1;
    padding: 0;
}


a{
    text-decoration: none;
    color:#c9d7f8
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    background: #25283d
}

.navitem {
    color: #c9d7f8;
    display: inline-block;
    font-size: 30;
    padding-top: 20;
    padding-bottom: 10;
    padding-left: 10;
    padding-right: 10;
    border: 0;
}

.navitem:hover {
    background-color: #454B73;
}